---
- name: Create Azure Deploy
  azure_rm_deployment:
    state: present
    location: "{{ location }}"
    resource_group_name: "{{ resourcegroupname }}"
    #template_link: "{{ templatelink }}"
    template: "{{ lookup('file','{{ playbook_dir }}/../../azuredeploy.json.sa') | from_json }}"
    parameters:
      fqdn:
        value: "{{ fqdn }}"
      masterUrl:
        value: "{{ masterurl }}"
      masterPrivateIp:
        value: "{{ masterprivateip }}"
      bastionPrivateIp:
        value: "{{ bastionprivateip }}"
      adminUsername:
        value: "{{ adminusername }}"
      adminPassword:
        value: "{{ adminpassword }}"
      sshKeyData:
        value: "{{ sshkeydata }}"
      WildcardZone:
        value: "{{ wildcardzone }}"
      numberOfNodes:
        value: "{{ numberofnodes }}"
      image:
        value: "{{ image }}"
      masterVMSize:
        value: "{{ mastervmsize }}"
      infranodeVMSize:
        value: "{{ infranodesize }}"
      nodeVMSize:
        value: "{{ nodevmsize }}"
      RHNUserName:
        value: "{{ rhnusername }}"
      RHNPassword:
        value: "{{ rhnpassword }}"
      SubscriptionPoolId:
        value: "{{ subscriptionpoolid }}"
      SubscriptionPoolIdBroker:
        value: "{{ subscriptionbrokerpoolid }}"
      sshPrivateData:
        value: "{{ sshprivatedata }}"
      aadClientId:
        value: "{{ aadclientid }}"
      aadClientSecret:
        value: "{{ aadclientsecret }}"
      rhsmUsernamePasswordOrActivationKey:
        value: "{{ rhsmusernamepasswordoractivationkey }}"
      OpenShiftSDN:
        value: "{{ openshiftsdn }}"
      metrics:
        value: "{{ metrics }}"
      logging:
        value: "{{ logging }}"
      opslogging:
        value: "{{ opslogging }}"
      customDNS:
        value: "{{ customdns }}"
      autoInstall:
        value: "{{ autoinstall }}"
      routerCertData:
        value: "{{ routercertdata }}"
      routerKeyData:
        value: "{{ routerkeydata }}"
      routerCaData:
        value: "{{ routercadata }}"
      masterCertData:
        value: "{{ mastercertdata }}"
      masterKeyData:
        value: "{{ masterkeydata }}"
      masterCaData:
        value: "{{ mastercadata }}"
      identityProviders:
        value: "{{ identityproviders }}"

  register: azuredeploy

- debug:
    msg: "Connect to bastion host by: {{ azuredeploy|json_query('deployment.outputs.\"bastion ssh\".value') }}"
- debug:
    msg: "OCP console available in {{ azuredeploy|json_query('deployment.outputs.\"openshift Webconsole\".value') }}"
